@font-face{
    font-family: Pixels;
    src: url(../fonts/retro_computer.ttf);
}

#erro-resolution{
    display: none;
}

html{
    padding: 0;
    margin: 0;
}

body{
    background: url("../img/background.png") no-repeat fixed center;
    background-size: cover;
    font-family: Pixels !important;
    overflow: hidden;
}

/*CONTAINER*/
.area-content{
    margin: 0 auto;
    z-index: 0;
    padding: 220px 10px 40px 0;
    overflow-y: scroll;
    color: #fff;
    width: 100%;
    height: 92vh;
    
    scrollbar-color: #444 #111;
    scrollbar-width: thin;
}

.area-content #box h4{
    text-align: center;
    font-size: 20px;
    margin: -4px;
}

.area-content #box p{
    background: #805753;
    border-radius: 4px;
    border: 3px solid black;
    box-shadow: 5px 6px 1px black;
    margin-bottom: 14px;
    width: 100%;
}

.area-content::-webkit-scrollbar{
    width: 7px;
    background-color: #111;
}

.area-content::-webkit-scrollbar-thumb{
    background-color: #444;
}

/*END CONTENT*/
footer h2, h3, .card p{
    color: #fff;
    text-align: center;
}

.background-top{
    padding-top: 15px; 
    position: absolute;
    z-index: 10;
    left: 0;
    width: 100%;
    height: 200px;
    background-color: #111;
    border-bottom: 3px solid #F9A900;
}

.itens-up{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container h3{
    font-size: 25px;
}

/*style boxes*/
.btn-boxes .card p{
    font-size: 0.71rem;
}

.btn-boxes .card{
    margin: 15px;
    width: 75px;
    border: none;
    float: left;
    background: none;
}

.btn-boxes .card img{
    width:75px;
    padding: 8px;
    margin-bottom: 10px;

    border: 3px solid #fff;
    border-radius: 8px;
    transition: .3s;
}

.btn-boxes .card img:hover{
    background: #fff;
    transition: .33s;
}

/*footer*/
footer h2{
    font-size: 16px;
    color: #F9A900 !important;
}

footer{
    padding: 10px;
    position: absolute;
    z-index: 2;
    background-color: rgba(0,0,0,0.4);
    border-top: 3px solid #F9A900;
    width: 100%;
    left: 0;
    bottom: 0;
    background: #111;
}

/*hover-active*/
.hov-active p{
    color: #F9A900;
}

.hov-active img{
    background: white;
    box-shadow: 0px 0px 12px white;
}

/*itens*/
.area-content #box p img{
    width: 45px;
    margin: 10px;
    background: #2E1F1E;
    padding: 5px;
    border: 3px solid black;
}

/*important box incomum*/
.area-content #box p#incomum{
    color: #42FA49 !important;
}

/*important box raro*/
.area-content #box p#raro{
    color: #FEB53F !important;
}

/*important box epic*/
.area-content #box p#epic{
    color: #E62121 !important;
}

/*mobile*/
@media (max-width: 800px){  
    .area-content{
        padding: 110px 20px 20px 20px;
        height: 77.5vh;
    }
    
    .background-top h3{
        font-size: 20px;
        width: 100%;
        position: fixed;
        top: 40px;
        left: 0;
    }
    
    .background-top{
        z-index: 3;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 145px;
        background-color: #111;
        border-top: 3px solid #F9A900;
        border-bottom: 0;
    }
    .itens-up{
        width: 100%;
        position: fixed;
        bottom: 0px;
    }
    
    .btn-boxes .card{
        margin: 5px;
        width: 63px;
        border: none;
        float: left;
        background: none;
    }
    
    .btn-boxes .card p{
    font-size: 0.61rem;
}
    
    .btn-boxes .card img{
        width: 60px;
        padding: 5px;
    }
    
    footer{
        z-index: 0;
        position: absolute;
        top: 0;
        height: 90px;
        border-top: none; 
        border-bottom: 3px solid #F9A900; 
    }
    
    footer h2{
        font-size: 15px;
        margin-top: 10px;
        background: #111;
    }
}

/*resolution erro*/
@media screen and (max-height: 470px), screen and (max-width: 366px){
    #erro-resolution{
        z-index: 100;
        top: 0;
        left: 0;
        position: absolute;
        display: block;
    }
    
    #erro-resolution img{
        width: 100vw;
        height: 100vh;
    }
    
    #erro-resolution p{
        position: absolute;
        top: 46%;
        margin: 0;
        padding: 0;
        text-align: center;
        width: 100vw;
        height: 100vh;
        color: #F9A900;
    }
}